<style>
  @import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');
</style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <i class="bi-film"></i>
  <div class="container-fluid justify-content-center">
    <!--    <div class="logo-container">-->
    <!--      <div class="logo">W</div>-->
    <!--    </div>-->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="./subjects"
           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
           class="nav-link"
           [class.active]="currentRoute === 'lecturer/subjects'">
          <i class="fs-4 bi-collection"></i>
          <span class="ms-1 d-none d-sm-inline">
            Subjects
            </span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="./tasks"
           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
           class="nav-link"
           [class.active]="currentRoute === 'lecturer/tasks'">
          <i class="fs-4 bi-columns-gap"></i>
          <span class="ms-1 d-none d-sm-inline">
            Tasks
        </span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="./profile"
           routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
           class="nav-link"
           [class.active]="currentRoute === 'lecturer/profile'">
          <i class="fs-4 bi-person-lines-fill"></i>
          <span class="ms-1 d-none d-sm-inline">
            Profile
        </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
