<div class="container-fluid flex-column profile-page-container">
  <div class="profile-header-container">
    <h2>
      Profile
    </h2>
  </div>
  @if (fetchLoading) {
    <div class="d-flex justify-content-center align-items-center subject-loading-container">
      <div class="spinner-border" role="status">
      </div>
    </div>
  } @else {
    <div class="profile-container">
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ profile.fullName }}</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ profile.email }}</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Group</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ profile.group }}</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Course</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ profile.course }}</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Birthday</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ profile.birthday }}</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ profile.address }}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="d-flex justify-content-end">
      <a class="btn btn-outline-danger" href="../account/login">Log out</a>
    </div>
  }
</div>
