<div class="container-fluid task-detail-container">
  @if (fetchLoading) {
    <div class="d-flex justify-content-center align-items-center task-loading-container">
      <div class="spinner-border" role="status">
      </div>
    </div>
  } @else {
    <div class="task-container flex-column">
      <h2>
        {{ task.title }}
      </h2>
    </div>
    <hr>
    <div class="mt-4">
      <div class="row">
        <div class="col-md-9" style="border-right: 1px solid #ccc; padding-right: 3%">
          <div class="task-description-container" style="text-align: justify">
            <h5>Description</h5>
            <p>{{ task.description }}</p>
            <div class="d-flex justify-content-between text-secondary">
              <p>Assigned at: {{ dateTimeService.convertDateToReadableFormat(task.createdAt) }}</p>
              <p>Due to: {{ dateTimeService.convertDateToReadableFormat(task.deadline) }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding-left: 3%">
          <div class="additional-info-container text-secondary">
            <p>Group: {{ task.groupName }}</p>
            <p>Turned in: {{ getTurnedInCount() }}</p>
            <p>Returned: {{ getReturnedCount() }}</p>
            <p>Graded: {{ getAcceptedCount() }}</p>
            <p class="text-primary">{{ task.maxGrade }} points</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h5>Student works</h5>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Grade</th>
        <th scope="col">Solution</th>
        <th scope="col">Uploaded at</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        @for (studentTask of task.studentTasks;track studentTask.studentTaskId;let i = $index) {
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ studentTask.student.fullName }}</td>
            <td>{{ taskService.getTaskStatus(studentTask.status) }}</td>
            <td>{{ studentTask.grade }}
            </td>
            <td>
              @if (studentTask.fileUrl && studentTask.status === StudentTaskStatus.Uploaded ||
              studentTask.fileUrl && studentTask.status == StudentTaskStatus.Accepted) {
                <a class="link-primary download-link"
                   (click)="onDownload(studentTask.studentTaskId)">
                  Download
                </a>
              } @else {
                -
              }
            </td>
            <td [style.color]="getUploadedDateColor(studentTask.uploadedAt, task.deadline)">
              {{ studentTask.uploadedAt ? dateTimeService.convertDateToReadableFormat(studentTask.uploadedAt) : '-' }}
            </td>
            <td [width]="40">
              @if (studentTask.status === StudentTaskStatus.Uploaded) {
                <div ngbDropdown container="body">
                  <button type="button" class="btn btn-outline-secondary" ngbDropdownToggle>
                    Actions
                  </button>
                  <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="openGradeEntryModal(studentTask.studentTaskId)">
                      Accept
                    </button>
                    <button ngbDropdownItem (click)="openReturnTaskModal(studentTask.studentTaskId)">
                      Return
                    </button>
                    @if (canReject(task, studentTask)) {
                      <button ngbDropdownItem (click)="openRejectTaskConfirmationModal(studentTask.studentTaskId)">
                        Reject
                      </button>
                    }
                  </div>
                </div>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
