.task-detail-container {
  width: 60%;

  .task-header-page-container {
    display: flex;
    margin: 3% 0 3% 0;
  }

  .task-loading-container {
    height: 60vh;
  }

  .task-head-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .task-container {
    display: flex;
    margin-top: 5%;
    justify-content: center;

    .task-description-container {
      text-align: justify;
    }

    .task-card {
      margin-bottom: 2%;
    }

    .remove-button-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 2%;
    }
  }
}
