<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && loginFormControl['email'].errors }"/>
        @if (submitted && loginFormControl['email'].errors) {
          <div class="invalid-feedback">
            @if (loginFormControl['email'].errors['required']) {
              Email is required
            }
            @else if (loginFormControl['email'].hasError('email')) {
              This is not valid email
            }
          </div>
        }
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="text" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && loginFormControl['password'].errors }"/>
        @if (submitted && loginFormControl['password'].errors) {
          <div class="invalid-feedback">
            @if (loginFormControl['password'].errors['required']) {
                Password is required
            } @else if (loginFormControl['password'].hasError('minlength')) {
              Password length should be more than 8 characters
            }
          </div>
        }
      </div>
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Login
      </button>
      <a routerLink="../register" class="btn btn-link">Register</a>
    </form>
  </div>
</div>
