<div class="container-fluid flex-column subject-page-container">
  <div class="subject-header-container">
    <h2>Grades</h2>
  </div>
  <hr>
  @if (fetchLoading) {
    <div class="d-flex justify-content-center align-items-center subject-loading-container">
      <div class="spinner-border" role="status">
      </div>
    </div>
  } @else if (!fetchLoading && subjects.length == 0) {
    <p class="d-flex justify-content-center align-items-center subject-loading-container">
      You dont have any subjects yet😧
    </p>
  } @else {
    <div class="subject-container flex-column">
      <p class="text-secondary">Grades for each subject:</p>
      @for (subject of subjects;track subject.subjectId) {
        <div ngbAccordion #accordion="ngbAccordion">
          <div ngbAccordionItem="{{subject.subjectId}}">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>{{ subject.subjectName}}</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  @if (subject.studentTasks.length == 0) {
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="text-secondary">No tasks yet😃</div>
                    </div>
                  } @else {
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task</th>
                        <th scope="col">Status</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Uploaded at</th>
                        <th scope="col">File</th>
                      </tr>
                      </thead>
                      <tbody>
                        @for (studentTask of subject.studentTasks;track studentTask.taskId;let i = $index) {
                          <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ studentTask.title }}</td>
                            <td [style.color]="taskService.getTaskStatusColor(studentTask.status)">
                              {{ taskService.getTaskStatus(studentTask.status) }}
                            </td>
                            <td>{{ studentTask.grade }}</td>
                            <td>
                              {{
                                studentTask.uploadedAt ?
                                  dateTimeService.convertDateToReadableFormat(studentTask.uploadedAt) : '-'
                              }}
                            </td>
                            <td>
                              @if (studentTask.fileUrl && studentTask.status === StudentTaskStatus.Uploaded ||
                              studentTask.fileUrl && studentTask.status == StudentTaskStatus.Accepted) {
                                <a class="link-primary download-link"
                                   (click)="onDownload(studentTask.studentTaskId)">
                                  Download
                                </a>
                              } @else {
                                -
                              }
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  }
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-bottom: 2%"></div>
      }
    </div>
  }
</div>
