<div class="modal-header">
  <h4 class="modal-title">Comments</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form [formGroup]="createTaskCommentForm" (ngSubmit)="onCreateCommentFormSubmit()">
  <div class="modal-body">
    @if (uploadedTask.comments.length === 0) {
      <div class="alert alert-info">
        No comments yet😧
      </div>
    } @else {
      <div class="comment-container" #commentContainer [scrollTop]="commentContainer.scrollHeight">
        @for (comment of uploadedTask.comments;track comment.taskCommentId) {
          @if (authenticationService.userValue?.userId == comment.userId) {
            <div class="card mb-3">
              <div class="card-header">
                {{ comment.username }}
                <small class="text-muted">
                  {{ dateTimeService.convertDateToReadableFormat(comment.createdAt) }}
                </small>
              </div>
              <div class="card-body">
                <p class="card-text">{{ comment.comment }}</p>
              </div>
            </div>
          } @else {
            <div class="card border-info mb-3">
              <div class="card-header border-info">
                {{ comment.username }}
                <small class="text-muted">
                  {{ dateTimeService.convertDateToReadableFormat(comment.createdAt) }}
                </small>
              </div>
              <div class="card-body">
                <p class="card-text">{{ comment.comment }}</p>
              </div>
            </div>
          }
        }
      </div>
    }
    <div style="margin-bottom: 3%"></div>
    <div class="mb-3">
      <textarea type="text" formControlName="comment" class="form-control" rows="3"
                placeholder="Type your comment here..."
                [ngClass]="{ 'is-invalid': submitted && createTaskCommentFormControl['comment'].errors }">
      </textarea>
      @if (submitted && createTaskCommentFormControl['comment'].errors) {
        <div class="invalid-feedback">
          @if (createTaskCommentFormControl['comment'].hasError('required')) {
            Comment is required
          } @else if (createTaskCommentFormControl['comment'].hasError('maxLength')) {
            Comment cannot be longer than 300 characters
          }
        </div>
      }
    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="createTaskLoading" class="btn btn-primary">
      @if (createTaskLoading) {
        <span class="spinner-border spinner-border-sm me-1"></span>
      }
      Send
    </button>
  </div>
</form>
